.bg-grayish{
    background-color: rgb(238, 238, 238);
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 12px;
}

.allFont{
    font-size: 12px;
}

.strLine{
    margin: 5px 0px;
    width: 90vw;
}

.legend{
    float:none;
    font-size: 14px;
    font-weight: 500;
}